body{
    background:#B2C3DCff;
}
#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

.container{
    &__title{
        display: flex;
        justify-content: center;
        color:rgb(0, 0, 128);
    }
    &__input{
        text-transform: uppercase;
        font-size:15px;
        text-align: center;
        color:#0B3D91;
    }
    &__button{
        border:none;
        border-radius: 8px;
        color:#0B3D91;
        padding:10px 10px;
    }
    &__button:hover{
        border:1px solid #0B3D91;
        border-radius: 8px;
    }
    &__button:focus{
        border:1px solid #0B3D91;
        border-radius: 8px;
        color:#FC3D21;
    }
    &__apod-title{
        color:#FC3D21;
    }
    &__apod-text{
        margin:0 auto;
        border:1px solid #0B3D91;
        border-radius: 10px;
        background-color: rgb(250, 250, 250);
        padding:15px 15px;
        width:400px;
        color:rgb(0, 0, 128);
    }
    &__apod-error{
        border:none;
        border-radius: 8px;
        background-color: rgb(238, 238, 239);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin:50px auto;
        padding:50px 20px;
        width:250px;
    }
    &__apod-seeMore{
        text-decoration: underline;
    }
    &__apod-seeMore:hover{
        cursor:pointer;
        color:#acadd3;
    }
}
